<%- include ('partials/header.ejs') %>
<%- include ('partials/nav.ejs') %>

<div class="main">

    <h1>About</h1>

    <img src = './img/mom.jpg' alt="Joel Hutchinson">

    <h2>Mission Statement: </h2>
    <p>I am on a great adventure of creating an online presence for a publishing company.  This endeavor covers many aspects, IT only being one aspect of this.
        For my IT develoment side of this venture, I have decided to go with a LAMP - Linux, Apache, MySQL and PHP for the web side of things being that it offers
        more security to my business.  Further I have been working on a Java application that has connected to my database and will server simililar functions to
        my web presence and vice versa.
    </p>

    <p>You are encouraged to check out my <a href="/Assets/Resume.pdf">resume</a>.</p>

</div>



<%- include ('partials/footer.ejs') %>