<%- include ('partials/header.ejs') %>
<%- include ('partials/nav.ejs') %>

<div class="main">

    <h1>Joel Hutchinson</h1>

    <img src = './img/emet-truth.gif' alt="Joel Hutchinson">

    <div id="textArea">
    <h2>Welcome to my webpage.  I<span>t</span> is in development <span>r</span>ight now, but yo<span>u</span> are encouraged <span>t</span>o <span>h</span>ave a look around. Please check out my <a href="./about">about</a> page.</h2>
</div>

</div>



<%- include ('partials/footer.ejs') %>