<!--
Joel Hutchinson
301254496
Oct. 2, 2023

-->

<!-- Included partials of the header and navigation-->
<%- include ('partials/header.ejs') %>
<%- include ('partials/nav.ejs') %>
<div class="main_projects">
    <h1>Projects</h1>
    <div id="hutchinsons">
        <div id="hutchinsons_images">
        <img src="./img/hutchinsons.jpg" src="Hutchinsons Project">
        <img src="./img/hutchinsonsApp.jpg" src="Hutchinsons App">
        <img src="./img/hutchinsonsSQL.jpg" src="Hutchinsons Database">
        <img src="./img/hutchinsonsDBModel.jpg" src="Hutchinsons DB Model">
        </div>
        <h3>Hutchinson Publishing: Personal Project</h3>
        <p>A Java application, a web portal built on a LAMP system, the app connects to MariaDB to access same material.  There is an administrator portal online as well as you can update business 
            information through the app.  Top left is the PHP website.  Top right is the administrator application in Java.  Bottom left is an image of 
            the databases tables. Bottom right is the planning stage of implementing the database.
        </p>
    </div>
    <div id="haberdashery">
        <img src="./img/haberdashery.jpg" src="Haberdashery Project">
        <h3>Hutchinsons Haberdashery: Web Design Final Project</h3>
        <p>A website developmed for first year Web Design course.  A fun project where I reinvented the haberdashery to display novelty items for gentlemen.</p>
    </div>

    <div id="showtimes">
        <img src="./img/showtimes.jpg" src="C# Final Project Winter 2022">
        <h3>Movie Showtimes Final Project Winter 2023 Programming II</h3>
        <p>The final project in Programming II.  An application that the user can search a list of showtimes for movies.</p>
    </div>

</div>

<!-- Included partials of the footer-->
<%- include ('partials/footer.ejs') %>