<%- include ('partials/header.ejs') %>
<%- include ('partials/nav.ejs') %>

<h1>Services</h1>

<img src="/img/java.jpg" alt="java"/>
<img src="/img/php.jpg" alt="php"/>
<img src="/img/html.jpg" alt="html"/>
<img src="/img/css.jpg" alt="css"/>

<p>I have a broad spectrum of programming skills.  I started by learning game programming with Java and LibGDX and I have been exposed to Unity game engine.
     I learned the basics of C programming while at the University of Guelph.  I took a year off and developed a PHP website using XAMPP and was connected
    to a MariaDB database.  Also during that year I completed the hardware aspect of A+ certification and worked as a sales representative at a local computer store.
      I have been self teaching myself Java for many years now.  At the college level, I have been exposed to a variety of programming software packages.
      I am familiar with Eclipse, Android Studio and IntelliJ IDE's.  An element
    of Software Engineering is the engineering aspect and I have experience developing SRS documentation for projects, this included project management software such as Jira.
    I have excellent math skill and have completed Algebra, Discrete Mathematics for Computing and Calculus at the University level with great results.
</p>

<%- include ('partials/footer.ejs') %>